<!DOCTYPE html>
<html>
<head>
    <title>Lab Reports</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="sidebar">
    <h2>Hospital</h2>
    <a href="/dashboard">Dashboard</a>
    <a href="/patients">Patients</a>
    <a href="/doctors">Doctors</a>
    <a href="/appointments">Appointments</a>
    <a href="/billing">Billing</a>
    <a href="/pharmacy">Pharmacy</a>
    <a href="/lab">Lab</a>
</div>

<div class="main">
    <h2>Lab Reports</h2>

    <form method="POST" action="/add_report">
        <input name="patient_id" placeholder="Patient ID">
        <input name="report" placeholder="Report Details">
        <button>Add</button>
    </form>

    <table>
        <tr>
            <th>ID</th><th>Patient</th><th>Report</th><th>Action</th>
        </tr>

        {% for r in data %}
        <tr>
            <td>{{r.id}}</td>
            <td>{{r.patient_id}}</td>
            <td>{{r.report}}</td>
            <td>
                <a href="/delete_report/{{r.id}}">
                    <button style="background:red;">Delete</button>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

</body>
</html>